
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
font-family: 'IntroRegular';
src: url("../fonts/Intro/IntroRegularRegular.otf") format("opentype");
}

@font-face {
font-family: 'IntroBlack';
src: url("../fonts/Intro/IntroBlackRegular.otf") format("opentype");
src: url("../fonts/Intro/IntroBlackRegular.ttf") format("truetype");

color: #000 ;
}
@font-face {
font-family: 'Intro';
src: url("../fonts/Intro/IntroBoldRegular.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: 'MuseoCyrillic100';
src: url("../fonts/MuseoCyrillic/MuseoCyrl100.otf") format("opentype");
src: url("../fonts/MuseoCyrillic/MuseoCyrl100.ttf") format("truetype");
}

@font-face {
font-family: 'MuseoCyrillic100Italic';
src: url("../fonts/MuseoCyrillic/MuseoCyrl100Italic.otf") format("opentype");
/* font-style: italic; */
}
@font-face {
font-family: 'MuseoCyrillic300';
src: url("../fonts/MuseoCyrillic/MuseoCyrl300.otf") format("opentype");
src: url("../fonts/MuseoCyrillic/MuseoCyrl300.ttf") format("truetype");
}
@font-face {
font-family: 'MuseoCyrillic300Italic';
src: url("../fonts/MuseoCyrillic/MuseoCyrl300Italic.otf") format("opentype");
font-style: italic;
}
@font-face {
font-family: 'MuseoCyrillic500';
src: url("../fonts/MuseoCyrillic/MuseoCyrl500.otf") format("opentype");
}
@font-face {
font-family: 'MuseoCyrillic500Italic';
src: url("../fonts/MuseoCyrillic/MuseoCyrl500Italic.otf") format("opentype");
font-style: italic;
}
@font-face {
font-family: 'MuseoCyrillic700';
src: url("../fonts/MuseoCyrillic/MuseoCyrl700.otf") format("opentype");
}
@font-face {
font-family: 'MuseoCyrillic700Italic';
src: url("../fonts/MuseoCyrillic/MuseoCyrl700Italic.otf") format("opentype");
font-style: italic;
}
@font-face {
font-family: 'MuseoCyrillic900';
src: url("../fonts/MuseoCyrillic/MuseoCyrl900.otf") format("opentype");
}
@font-face {
font-family: 'MuseoCyrillic900Italic';
src: url("../fonts/MuseoCyrillic/MuseoCyrl900Italic.otf") format("opentype");
font-style: italic;
}

div[class$=inner] {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  // @media (min-width: 1260px) {
    width: 1620px;
    margin: 0 auto;
  // }  
  @media (max-width:1690px) {
    width: 1180px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

// header

header {
  // @media (min-width: 1260px) {
    font-size: 22px;
    padding: 30px 0;
  // }
  .head__inner {
    justify-content: space-between;
    @media (max-width:1690px) {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  }
}


.main-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  margin: 0;
  text-transform: uppercase;
  padding-left: 0;
  font-family: 'IntroBlack';

  // @media (min-width: 1260px) {
    justify-content: space-between;
    width: 618px;

  // }

  &__item {
    -ms-align-self: center;
    align-self: center;
    cursor: pointer;
  }

}

.item-separator:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 17px;
      background-color: #569d60;
      position: relative;
      right: -27px;
      top: 0;
    }

.head__version {
  -ms-align-self: center;
  align-self: center;
  color: #00712f;
  font-family: 'MuseoCyrillic300';
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width:1690px) {
    order: 1;
  }
}

.head__link {
  width: 330px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 10px;
  a {
    cursor: pointer;
  }
}


.description {
  background-image: url(../img/description-back.png);
  // padding: 280px 0 50px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 300px 0 0 0;

  @media (max-width: 1600px) {
    padding: 446px 0 0;
  }

  // &__inner {
  //   padding-top: 270px;
  // }
  &__block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 1100px;
    background-color: #40a500;
    padding: 47px 125px 43px 142px;
    justify-content: space-between;
    @media (max-width: 1600px) {
      width: 100%;
      padding: 13px 125px 12px 210px;
      justify-content: flex-start;
    }
  }
  &__text {
    width: 506px;
    color: #fff;
    font-size: 22px;
    line-height: 1.3;
    font-family: 'MuseoCyrillic100';

    @media (max-width: 1600px) {
      margin-left: 150px;
    }
  }
}

.parks {
  padding-top: 80px;
  &__title-block {
    background-image: url(../img/parks.png);
    background-repeat: no-repeat;
    position: relative;
    left: -153px;
  }
  
  &__title {
    font-size: 120px;
    margin: 0;
    margin-left: 121px;
    font-family: 'IntroBlack';
    text-transform: uppercase;
  }
  &__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  &__block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @media (max-width: 1600px) {
      flex-wrap: wrap;
    }
  }
  &__map {
    display: inline-block;
    font-size: 22px;
    width: 120px;
    font-family: 'IntroBlack';
    text-transform: uppercase;

    &:after {
      content: "";
      width: 50px;
      height: 50px;
      display: inline-block;
      background-image: url(../img/map.svg);
      position: relative;
      top: -50px;
      right: -138px;
      background-repeat: no-repeat;
    }
  }



  &__text {
    font-size: 17px;
    font-family: 'MuseoCyrillic100';
    text-align: center;
  }

  &__carousel {
    width: 1268px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  &__carousel-item {
    margin-right: 5px;
  }

  &__carousel-item:last-child {
    margin-right: 0px;
  }
}

.bold-text {
  font-weight: bold;
}

.affiche {
  padding-bottom: 70px;
  margin-top: 80px;

  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    width: 100px;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    font-family: 'IntroBlack';
    text-transform: uppercase;
  }

  &__date {
    text-transform: uppercase;
    font-size: 14px;
    span {
      font-size: 42px;
      margin-right: 30px;
      font-family: 'IntroBlack';
    } 
  }

  &__event {
    font-size: 22px;
    font-family: 'IntroBlack';
    margin-bottom: 0;
    width: 285px;
  }

  .affiche__date .item-separator:after {
    right: -16px;
    height: 23px;
  }

  &__carousel {
    width: 1268px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  &__carousel-item {
    margin-right: 5px;
    font-family: 'MuseoCyrillic300';
  }

  &__carousel-item:last-child {
    margin-right: 0px;
  }

  &__news {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 50px 0 50px;
  }

  &__news-item {
    margin-right: 5px;
    font-family: 'MuseoCyrillic300';
  }

  &__news-item:last-child {
    margin-right: 0px;
  }

  &__text {
    // font-size: 14px;
    margin-top: 8px;
    font-size: 17px;
  }

  &__block {
    width: 1268px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }

  &__btn {
    font-size: 22px;
    // padding: 15px 185px;
    color: #40a500;
    border: 3px solid #42a401;
    text-transform: uppercase;
    width: 638px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
  }
}

.partners, .contacts {
  background-color: #e8e8e8;
}

.partners {
  padding: 50px 0 45px 0;

  &__title {
    text-transform: uppercase;
    font-family: 'IntroBlack';
  }

  &__logo {
    width: 1268px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-self: center;
    align-self: center;
  }

  &__logo-item {
    padding-right: 100px;
    cursor: pointer;
  }

  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
}

.contacts {
  padding: 50px 0 45px 0;
  font-family: 'MuseoCyrillic300';

  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    font-family: 'IntroBlack';
  }

  &__block {
    width: 1268px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    @media (max-width: 1600px) {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__details {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    @media (max-width: 1600px) {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      width: 50%;

      &:last-child {
        width: 25%;
      }

      &:first-child {
        .contact__text:last-child {
          margin-top: 50px;
        }
      }
    }
  }

  &__details-item {
    width: 600px;
  }

  // &__details-text {
  //   font-family: 'MuseoCyrillic300';
  // }

  &__details-title {
    font-size: 22px;
    font-family: 'IntroBlack';
    text-transform: uppercase;
  }

  &__form {
    font-size: 14px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  &__form-input {
    width: 286px;
    background-color: #d4d4d4;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
  }

  &__form-btn {
    background-color: #8c8c8c;
    border:0;
    width: 286px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
  }

  &__doc {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    @media (max-width: 1600px) {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
  }

  &__doc-item {
    width: 50%;
    a {
      color: #000;
      text-decoration: none;
    }
  }

  &__doc-item:before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../img/PDF.svg);
    position: relative;
    top: 25px;
    left: 0;
    background-repeat: no-repeat;
  }
}

.contacts__details-item:last-child .contacts__details-title {
  margin-bottom: 0;
  @media (max-width: 1600px) {
    margin-top: 75px;
  }
}

.contact__details-email a, .contact__details-phone {
  text-decoration: none;
  font-size: 22px;
  font-family: 'IntroBlack';
  color: #000;
}

.doc__block {
  @media (max-width: 1600px) {
    margin-top: 65px;
  }
}

// footer

footer {
  background-color: #000;
  padding: 28px 0 32px 0;
}

.footer__inner {
  @media (max-width: 1600px) {
    justify-content: space-between;
  }
}
.copyright {
  text-transform: uppercase;
  color: #fff;
}

.footer__link {
  width: 360px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-left: 183px;
  -ms-align-items: center;
    align-items: center;
}

.directors {
  padding: 50px 0 0 0; 

  &__title {
    font-family: 'IntroBlack';
    text-transform: uppercase;
    font-size: 37px;
  }

  &__text {
    font-family: 'MuseoCyrillic300';
    font-size: 17px;
    width: 1200px;
    .bold-text {
      font-family: 'IntroBlack';
      font-size: 22px;
    }

    .item-separator {
      margin-right: 28px;
    }
    .item-separator:after {
      right: -16px;
    }
  }

  &__option {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

  }

  &__option-text {
    font-family: 'MuseoCyrillic300';
    font-size: 17px;
    width: 622px;
    .bold-text {
      font-family: 'IntroBlack';
      font-size: 22px;
      text-transform: uppercase;
    }

    .item-separator {
      margin-right: 28px;
    }
    .item-separator:after {
      right: -16px;
    }
  }

  &__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__carousel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  &__carousel-item {
    text-align: center;

  }

  &__name {
    font-family: 'IntroBlack';
    font-size: 22px;
  }

  &__position {
    font-family: 'MuseoCyrillic300';
    font-size: 17px;
    width: 210px;
  }

  &__block {
    width: 1286px;}
}